h1 {
	color:#fff;
	font-family:roboto;
	font-weight:900;
	text-transform:uppercase;
}

h2,h3 {
	text-align: center;
	color: #000000;
	font-weight: bold;
	font-style: italic;
}

.img2-fluid {
	margin-bottom: 30px;
	margin-left: 100px;

}

#resume {
	text-align: center;
}

.expText {
	/*text-align: center;*/
}

#baExp{
	margin-left: 130px;
}

